@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Spectral:ital,wght@0,300;0,400;0,600;0,700;1,300;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}